header {
    display: flex;
    background-color: orange;
    height: 10;
}
body {
    background-color: grey;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
div {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 20%;
    pointer-events: none;
    padding-left: 5%;
    padding-right: 5%;
}
button {
    color: white;
    flex: auto;
    align-self: center;
    text-align: center;
    font-size: 500%;
    background: black;
    border: 0px;
    font-family: 'panic';
}
.header {
    background: black;
    justify-content: center;
}
.bg {
    filter: blur(1px);
    opacity: 50%;
    background: black;
    position: absolute;
    width: 100%;
    top: 6.7em;
    height: 7em;
}
.zag {
    font-size: 400%;
    width: 50vh;
    word-break: break-all;
    font-family: 'panic';
    padding-left: 5%;
    margin-top: 4vh;
    margin-bottom: 0;
}
.text {
    word-break: break-all;
}
.od {
    background: white;
    justify-content: left;
    background: url('video/paukvid.mp4');
    background-size: cover;
  }
.cont {
    width: 90%;
    left: 5%;
    position: relative;
}
  
  .bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
  }
@font-face {
    font-family: "panic";
    src: url("./fonts/GhastlyPanicCyr.otf");
    font-style: normal;
    font-weight: normal;
}