header {
    display: flex;
    background-color: orange;
    height: 10;
}
body {
    background-color: grey;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
}
img {
    width: 20%;
    pointer-events: none;
    padding-left: 5%;
    padding-right: 5%;
}
button {
    color: white;
    flex: auto;
    align-self: center;
    text-align: center;
    font-size: 200%;
    background: black;
    border: 0px;
}