header {
    display: flex;
    background-color: orange;
    height: 10;
}
p {
    width: 100vh;
    text-align: -webkit-center;
}
body {
    background-color: grey;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
}
img {
    width: 20%;
}